<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Places to Go</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
        rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
        crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='dashboard_style.css') }}">
</head>

<body>
    <link href="../assets/dist/css/bootstrap.min.css" rel="stylesheet">

    </head>

    <body>

        <header>

            <div class="navbar navbar-light shadow-lg" id="section">
                <div class="container">
                    <a href="#" class="navbar-brand d-flex align-items-center">
                        <svg xmlns="http://www.w3.org/2000/svg" width="17" height="18" fill="currentColor" class="bi bi-geo-alt" viewBox="1 0 16 16">
                            <path d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A31.493 31.493 0 0 1 8 14.58a31.481 31.481 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94zM8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10z"/>
                            <path d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                        </svg>
                        <strong class="fs-4">Places to Go</strong>
                    </a>
                    <a href="/logout" class="btn btn-primary btn-sm">Logout</a>
                </div>
            </div>
        </header>

        <main>

            <section class="py-5 text-center container">
                <div class="row py-lg-5">
                    <div class="col-lg-6 col-md-8 mx-auto">
                        <h1 class="fw-light"><strong>Places to go</strong></h1>
                        <p class="lead text-dark"><strong>In need of a fun places to visit in your state? Look no further! Recommend places and have other people recommend places for you to visit. </strong></p>
                        <a href="/trip/new" class="btn btn-primary my-2">Add a place</a>
                        </p>
                    </div>
                </div>
            </section>

            
            <div class="d-flex flex-wrap album py-5 bg-light">
                <div class=" container">
                    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                    {% for trip in trips %}
                        <div class="col">
                            <div class="card shadow-sm">
                                <!--<svg class="bd-placeholder-img card-img-top" width="100%" height="225"
                                    xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Image"
                                    preserveAspectRatio="xMidYMid slice" focusable="false">
                                    <title>Placeholder</title>
                                    <rect width="100%" height="100%" fill="#55595c" /><text x="50%" y="50%"
                                        fill="#eceeef" dy=".3em">Image</text>
                                </svg>-->
                                <div class="card-body">
                                    <p class="card-text">Name: {{trip.name}}</p>
                                    <p class="card-text">Location: {{trip.city}}, {{trip.state}}</p>
                                    <p class="card-text">Description: {{trip.description}}</p>
                                    <p class="card-text">Category: {{trip.category}}</p>
                                    <p class="card-text">Cost:
                                        {% if trip.cost == 1 %}
                                        $
                                        {% elif trip.cost == 2 %}
                                        $$
                                        {% else %}
                                        $$$
                                        {% endif %} </p>
                                    
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="btn-group">
                                            <a href="/trip/{{trip.id}}" class="btn btn-sm btn-outline-secondary">View</a>
                                            {% if trip.user_id == session.user_id%}
                                            <a href="/trip/edit/{{trip.id}}" class="btn btn-sm btn-outline-secondary">Edit</a>
                                            <a href="/trip/delete/{{trip.id}}" class="btn btn-sm btn-outline-secondary">Delete</a>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    </div>
                </div>
            </div>
            
        </main>

        <footer class="text-muted py-5">
            <div class="container">
                <p class="float-end mb-1">
                    <a href="#">Back to top</a>
                </p>
                <p class="mb-1">For travel lovers.</p>
                <p class="mb-0"></p>
            </div>
        </footer>

        <script src="../assets/dist/js/bootstrap.bundle.min.js"></script>

    </body>

</html>
